<h1>¿Está Seguro?</h1>
<hr>

<p *ngIf="!data.close">
  Está seguro de borrar {{ data.name }}
  <br>
  ¿Desea continuar?
</p>


<p *ngIf="data.close">
  Está seguro de cerrar la tarea {{ data.name }} al cerrarla los accesos abiertos se eliminarán.
  <br>
  ¿Desea continuar?
</p>

<div fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="50">
    <button mat-button (click)="delete()" color="warn">OK</button>
  </div>
  <div fxFlex="50">
    <button mat-button (click)="cancel()">Cancelar</button>
  </div>

</div>

