<div class="container">
  <mat-card fxLayoutAlign="center center">
    <mat-card-title>
      <mat-card-title>Mis Accesos</mat-card-title>
    </mat-card-title>
  </mat-card>

  <div fxLayout="row">
    <div fxFlex="50">
      <mat-form-field appearance="standard">
        <mat-label>Filtrar Datos Accesos</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar en Tabla Accesos" #input>
      </mat-form-field>
    </div>

    <div fxFlex="25" fxLayoutAlign="center center">
      <button (click)="openDialogDoor(true, null, false)" mat-button color="primary">
        <mat-icon>phonelink_lock</mat-icon>
        Nuevo Acceso
      </button>
    </div>

    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-button
              color="primary"
              type="button"
              [routerLink]="['/dashboard/customer']">
        <mat-icon>reply</mat-icon>
        Regresar
      </button>
    </div>

  </div>


  <div class="mat-elevation-z8 tableResponsive">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Folio Column -->
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Folio</th>
        <td mat-cell *matCellDef="let row"> {{row.folio}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Nombre</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Observaciones Column -->
      <ng-container matColumnDef="observations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Observaciones</th>
        <td mat-cell *matCellDef="let row"> {{row.observations}} </td>
      </ng-container>

      <!-- Tipo Puerta Column -->
      <ng-container matColumnDef="door_type_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Tipo de Puerta</th>
        <td mat-cell *matCellDef="let row"> {{row.door_type_name}} </td>
      </ng-container>

      <!-- Opciones Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogDoor(false, row.id, true)">
              <mat-icon color="info">visibility</mat-icon>
              Ver
            </button>
            <button mat-menu-item (click)="openDialogDoor(true, row.id, false)">
              <mat-icon color="primary">edit</mat-icon>
              Editar
            </button>
            <button mat-menu-item
                    (click)="deleteDoor(row)">
              <mat-icon color="warn">delete</mat-icon>
              Eliminar
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator #paginator [length]="totalItems"
                   (page)="getDoorsPaginator($event)"
                   [pageSize]="pageSize"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</div>


