<div class="container">
  <mat-card fxLayoutAlign="center center">
    <mat-card-title>
      <mat-card-title>Levantamientos</mat-card-title>
    </mat-card-title>
  </mat-card>

<!--  <div fxLayout="row">
    <div fxFlex="80">
      <mat-form-field appearance="standard">
        <mat-label>Filtrar Datos Empleados</mat-label>
        <input autocomplete="nope" matInput (keyup)="applyFilter($event)" placeholder="Buscar en Tabla Empleados" #input>
      </mat-form-field>
    </div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <button (click)="openDialogEmployee(false, null, false)" mat-button color="primary">
        <mat-icon>person_add</mat-icon>
        Nuevo Empleado
      </button>
    </div>
  </div>-->


  <div class="mat-elevation-z8">
    <ngx-spinner></ngx-spinner>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Nombre</th>
        <td mat-cell *matCellDef="let row"> {{row.folio}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cliente</th>
        <td mat-cell *matCellDef="let row"> {{row.customer_id}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Empleado</th>
        <td mat-cell *matCellDef="let row"> {{row.employee_id}} </td>
      </ng-container>

      <!-- Puesto Column -->
      <ng-container matColumnDef="access">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Acceso</th>
        <td mat-cell *matCellDef="let row">{{row.work_type_id}}</td>
      </ng-container>

      <!-- Teléfono Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogLifting(false, row.id, true)">
              <mat-icon color="info">visibility</mat-icon>
              Ver
            </button>
            <button mat-menu-item (click)="openDialogLifting(true, row.id, false)">
              <mat-icon color="primary">edit</mat-icon>
              Editar
            </button>
        <!--    <button *ngIf="row.is_active === 0" mat-menu-item (click)="status(row)">
              <mat-icon>done</mat-icon>
              Activar
            </button>
            <button *ngIf="row.is_active === 1" mat-menu-item (click)="status(row)">
              <mat-icon>done</mat-icon>
              Desactivar
            </button>
            <button mat-menu-item (click)="resetPassword(row)">
              <mat-icon color="primary">restart_alt</mat-icon>
              Contraseña
            </button>
            <button mat-menu-item (click)="toolsReport(row)">
              <mat-icon color="warn">picture_as_pdf</mat-icon>
              Recibo de Herramientas
            </button>
            <button mat-menu-item
                    (click)="deleteEmployee(row)">
              <mat-icon color="warn">delete</mat-icon>
              Eliminar
            </button>-->
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data.
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que mostrar {{ input.value }}</td>
      </tr>-->

    </table>

    <mat-paginator #paginator [length]="totalItems"
                   (page)="getLiftingsPaginator($event)"
                   [pageSize]="pageSize"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
