<div class="container">

  <mat-tab-group mat-align-tabs="start">

    <mat-tab label="Levantamientos">

      <mat-card>
        <mat-card-title>

          <div fxFlex="50">
            <mat-card-title>Levantamientos</mat-card-title>
          </div>

          <div fxFlex="50" fxLayoutAlign="end center">
            <button (click)="openDialogLifting(false, '', false)" mat-button color="primary">
              <mat-icon>person_add</mat-icon>
              Nuevo Levantamiento
            </button>
          </div>
        </mat-card-title>
      </mat-card>

      <div class="mat-elevation-z8">
        <ngx-spinner></ngx-spinner>
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Folio</th>
            <td mat-cell *matCellDef="let row"> {{row.folio}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cliente</th>
            <td mat-cell *matCellDef="let row"> {{row.customer_name}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Empleado</th>
            <td mat-cell *matCellDef="let row"> {{row.employee_name}} </td>
          </ng-container>

          <!-- Centro de Trabajo Column -->
          <ng-container matColumnDef="job_center">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Centro de Trabajo</th>
            <td mat-cell *matCellDef="let row">{{row.job_center_name}}</td>
          </ng-container>

          <!-- Puesto Column -->
          <ng-container matColumnDef="work_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Tipo de Trabajo</th>
            <td mat-cell *matCellDef="let row">{{row.work_type_name}}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Fecha</th>
            <td mat-cell *matCellDef="let row">{{row.date | date : 'shortDate'}}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Estatus</th>
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
          </ng-container>

          <!-- Teléfono Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialogLifting(false, row.id, true)">
                  <mat-icon color="info">visibility</mat-icon>
                  Ver
                </button>
                <button mat-menu-item (click)="openDialogLifting(true, row.id, false)">
                  <mat-icon color="primary">edit</mat-icon>
                  Editar
                </button>
                <button *ngIf="row.status === 'Por Cotizar' " mat-menu-item (click)="openQuotation(row)">
                  <mat-icon color="primary">request_quote</mat-icon>
                  Crear Cotización
                </button>
                <button mat-menu-item (click)="viewPdf(row.report_pdf)">
                  <mat-icon color="warn">picture_as_pdf</mat-icon>
                  Reporte Levantamiento
                </button>
                <!--<button *ngIf="row.is_active === 0" mat-menu-item (click)="status(row)">
                      <mat-icon>done</mat-icon>
                      Activar
                    </button>
                    <button *ngIf="row.is_active === 1" mat-menu-item (click)="status(row)">
                      <mat-icon>done</mat-icon>
                      Desactivar
                    </button>
                    <button mat-menu-item (click)="resetPassword(row)">
                      <mat-icon color="primary">restart_alt</mat-icon>
                      Contraseña
                    </button>

                    <button mat-menu-item
                            (click)="deleteEmployee(row)">
                      <mat-icon color="warn">delete</mat-icon>
                      Eliminar
                    </button>-->
              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data.
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que mostrar {{ input.value }}</td>
          </tr>-->

        </table>

        <mat-paginator #paginator [length]="totalItems"
                       (page)="getLiftingsPaginator($event)"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </mat-tab>

    <mat-tab label="Cotizaciones">
      <mat-card>
        <mat-card-title>

          <div fxFlex="50">
            <mat-card-title>Cotizaciones</mat-card-title>
          </div>

       <!--   <div fxFlex="50" fxLayoutAlign="end center">
            <button (click)="openDialogLifting(false, '', false)" mat-button color="primary">
              <mat-icon>person_add</mat-icon>
              Nuevo Levantamiento
            </button>
          </div>-->

        </mat-card-title>
      </mat-card>

      <div class="mat-elevation-z8">
        <ngx-spinner></ngx-spinner>
        <table mat-table [dataSource]="dataSourceQuote" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cliente</th>
            <td mat-cell *matCellDef="let row"> {{row.lifting.customer_name}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Fecha</th>
            <td mat-cell *matCellDef="let row"> {{row.date }} </td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Monto</th>
            <td mat-cell *matCellDef="let row"> {{row.amount | currency:'MX':'$':'1.2-2'}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Estatus</th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          </ng-container>

          <!-- Settings Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">

               <button mat-menu-item (click)="openDialogConcept(row)">
                 <mat-icon matSuffix mat-list-icon color="primary">edit</mat-icon>
                 Editar
               </button>

                <button mat-menu-item (click)="generateQuote(row)">
                  <mat-icon matSuffix mat-list-icon color="warn">picture_as_pdf</mat-icon>
                  Generar Pdf
                </button>

              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsQuote"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsQuote;"></tr>

          <!-- Row shown when there is no matching data.
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que mostrar {{ input.value }}</td>
          </tr>-->

        </table>

        <mat-paginator #paginatorQuote [length]="totalItemsQuote"
                       (page)="getQuotationsPaginator($event)"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </mat-tab>

  </mat-tab-group>

</div>
