<div class="container">

  <mat-tab-group mat-align-tabs="start">

    <mat-tab label="Levantamientos">

      <mat-card>
        <mat-card-title>

          <div fxFlex="50">
            <mat-card-title>Levantamientos</mat-card-title>
          </div>

          <div fxFlex="50" fxLayoutAlign="end center">
            <button (click)="openDialogLifting(false, '', false)" mat-button color="primary">
              <mat-icon>person_add</mat-icon>
              Nuevo Levantamiento
            </button>
          </div>
        </mat-card-title>

        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayout.sm="column"
             fxLayoutGap="10px">

          <mat-form-field fxFlex="100">
            <mat-label>Folios</mat-label>
            <input type="text"
                   placeholder="L-1"
                   aria-label="Number"
                   matInput
                   [formControl]="formFolio"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
          </mat-form-field>

          <ng-select fxFlex="100"
                     bindLabel="name"
                     placeholder="Clientes"
                     [multiple]="false"
                     appendTo="body"
                     [searchable]="true"
                     [clearable]="true"
                     (change)="filterCustomer($event)">
            <ng-option value="">TODOS</ng-option>
            <ng-option *ngFor="let customer of customers" [value]="customer.id">
              {{customer.name}}
            </ng-option>
          </ng-select>

          <mat-form-field fxFlex="100">
            <mat-label>Empleados</mat-label>
            <mat-select
              (selectionChange)="filterEmployee($event.value)">
              <mat-option value="">TODOS</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee.id">
                {{ employee.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <mat-label>Grupos</mat-label>
            <mat-select
              (selectionChange)="filterGroup($event.value)">
              <mat-option value="">TODOS</mat-option>
              <mat-option *ngFor="let jobCenter of jobCenters" [value]="jobCenter.id">
                {{ jobCenter.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <mat-label>Tipos de Trabajo</mat-label>
            <mat-select
              (selectionChange)="filterWorkType($event.value)">
              <mat-option value="">TODOS</mat-option>
              <mat-option *ngFor="let workType of workTypes" [value]="workType.id">
                {{ workType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <mat-label>Estatus</mat-label>
            <mat-select
              (selectionChange)="filterStatus($event.value)">
              <mat-option value="">TODOS</mat-option>
              <mat-option value="Cotizado">Cotizado</mat-option>
              <mat-option value="Por Cotizar">Por Cotizar</mat-option>
            </mat-select>
          </mat-form-field>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="10px"
                [formGroup]="dateForm">

            <mat-form-field fxFlex="100">

              <mat-label>Ingresar Rango Fecha</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="initial_date" placeholder="Fecha Inicial">
                <input matEndDate formControlName="final_date" placeholder="Fecha Final" (dateChange)="filterDate($event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="10px"
               [formGroup]="dateForm">

            <button (click)="resetFilterDate()" mat-mini-fab color="primary" >
              <mat-icon>restart_alt</mat-icon>
            </button>

          </div>

        </div>

      </mat-card>

      <div class="mat-elevation-z8">
        <ngx-spinner></ngx-spinner>
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Folio</th>
            <td mat-cell *matCellDef="let row"> {{row.folio}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cliente</th>
            <td mat-cell *matCellDef="let row"> {{row.customer_name}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Empleado</th>
            <td mat-cell *matCellDef="let row"> {{row.employee_name}} </td>
          </ng-container>

          <!-- Centro de Trabajo Column -->
          <ng-container matColumnDef="job_center">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Centro de Trabajo</th>
            <td mat-cell *matCellDef="let row">{{row.job_center_name}}</td>
          </ng-container>

          <!-- Puesto Column -->
          <ng-container matColumnDef="work_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Tipo de Trabajo</th>
            <td mat-cell *matCellDef="let row">{{row.work_type_name}}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Fecha</th>
            <td mat-cell *matCellDef="let row">{{row.date | date : 'shortDate'}}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Estatus</th>
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
          </ng-container>

          <!-- Teléfono Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialogLifting(false, row.id, true)">
                  <mat-icon color="info">visibility</mat-icon>
                  Ver
                </button>
                <button mat-menu-item (click)="openDialogLifting(true, row.id, false)">
                  <mat-icon color="primary">edit</mat-icon>
                  Editar
                </button>
                <button *ngIf="row.status === 'Por Cotizar' " mat-menu-item (click)="openQuotation(row)">
                  <mat-icon class="color-green">request_quote</mat-icon>
                  Crear Cotización
                </button>
                <button mat-menu-item (click)="viewPdf(row.report_pdf)">
                  <mat-icon color="warn">picture_as_pdf</mat-icon>
                  Reporte Levantamiento
                </button>

                <button mat-menu-item (click)="deleteLifting(row)">
                  <mat-icon color="warn">delete</mat-icon>
                  Eliminar
                </button>

              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data.
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que mostrar {{ input.value }}</td>
          </tr>-->

        </table>

        <mat-paginator #paginator [length]="totalItems"
                       (page)="getLiftingsPaginator($event)"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </mat-tab>

    <mat-tab label="Cotizaciones">
      <mat-card>
        <mat-card-title>

          <div fxFlex="50">
            <mat-card-title>Cotizaciones</mat-card-title>
          </div>

       <!--   <div fxFlex="50" fxLayoutAlign="end center">
            <button (click)="openDialogLifting(false, '', false)" mat-button color="primary">
              <mat-icon>person_add</mat-icon>
              Nuevo Levantamiento
            </button>
          </div>-->

        </mat-card-title>

        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayout.sm="column"
             fxLayoutGap="10px">

          <mat-form-field fxFlex="100">
            <mat-label>Folios</mat-label>
            <input type="text"
                   placeholder="L-1"
                   aria-label="Number"
                   matInput
                   [formControl]="formFolioQuote"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <mat-label>Estatus</mat-label>
            <mat-select
              (selectionChange)="filterStatusQuote($event.value)">
              <mat-option value="">TODOS</mat-option>
              <mat-option value="Generada">Generada</mat-option>
              <mat-option value="Aprobada">Aprobada</mat-option>
              <mat-option value="Pendiente por Aprobar">Pendiente por Aprobar</mat-option>
            </mat-select>
          </mat-form-field>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="10px"
               [formGroup]="dateFormQuote">

            <mat-form-field fxFlex="100">

              <mat-label>Ingresar Rango Fecha</mat-label>
              <mat-date-range-input [rangePicker]="pickerQuote">
                <input matStartDate formControlName="initial_date" placeholder="Fecha Inicial">
                <input matEndDate formControlName="final_date" placeholder="Fecha Final" (dateChange)="filterDateQuote($event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerQuote"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerQuote></mat-date-range-picker>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="10px"
               [formGroup]="dateForm">

            <button (click)="resetFilterDate()" mat-mini-fab color="primary" >
              <mat-icon>restart_alt</mat-icon>
            </button>

          </div>

        </div>

      </mat-card>

      <div class="mat-elevation-z8">
        <ngx-spinner></ngx-spinner>
        <table mat-table [dataSource]="dataSourceQuote" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>


          <!-- Folio Column -->
          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Folio</th>
            <td mat-cell *matCellDef="let row"> {{row.folio}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cliente</th>
            <td mat-cell *matCellDef="let row"> {{row.lifting.customer_name}} </td>
          </ng-container>

          <!-- Place Column -->
          <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Lugar</th>
            <td mat-cell *matCellDef="let row"> {{row.lifting.place}} </td>
          </ng-container>

          <!-- Applicant Column -->
          <ng-container matColumnDef="applicant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Solicitante</th>
            <td mat-cell *matCellDef="let row"> {{row.lifting.applicant}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Fecha</th>
            <td mat-cell *matCellDef="let row"> {{row.date }} </td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Total</th>
            <td mat-cell *matCellDef="let row"> {{row.total | currency:'MX':'$':'1.2-2' : 'es-MX'}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Estatus</th>
            <td mat-cell *matCellDef="let row">
              <span [ngStyle]="{ color: '#1FA1CC' }" *ngIf="row.status === 'Generada' ">
                {{row.status}}
              </span>
              <span [ngStyle]="{ color: 'orange' }" *ngIf="row.status === 'Pendiente por Aprobar' ">
                {{row.status}}
              </span>
              <span [ngStyle]="{ color: 'green' }" *ngIf="row.status === 'Aprobada' ">
                {{row.status}}
              </span>
            </td>
          </ng-container>

          <!-- Settings Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">

               <button mat-menu-item (click)="openDialogConcept(row)">
                 <mat-icon matSuffix mat-list-icon color="primary">edit</mat-icon>
                 Editar
               </button>

                <button mat-menu-item (click)="generateQuote(row, true)">
                  <mat-icon matSuffix mat-list-icon color="warn">picture_as_pdf</mat-icon>
                  Generar Pdf
                </button>

                <button *ngIf="row.status === 'Generada' " mat-menu-item
                        (click)="statusPending(row, 'Pendiente por Aprobar')">
                  <mat-icon matSuffix mat-list-icon style="color: orange">task</mat-icon>
                  Enviar a Revisión
                </button>

                <button *ngIf="row.status === 'Pendiente por Aprobar' " mat-menu-item
                        (click)="statusPending(row, 'Aprobada')">
                  <mat-icon matSuffix mat-list-icon style="color: orange">task</mat-icon>
                  Aprobar
                </button>

                <button *ngIf="row.status === 'Aprobada' " mat-menu-item (click)="sendEmail(row)">
                  <mat-icon matSuffix mat-list-icon style="color: orange">email</mat-icon>
                  Enviar por Correo
                </button>

                <button mat-menu-item (click)="deleteQuote(row)">
                  <mat-icon color="warn">delete</mat-icon>
                  Eliminar
                </button>

              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsQuote"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsQuote;"></tr>

          <!-- Row shown when there is no matching data.
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que mostrar {{ input.value }}</td>
          </tr>-->

        </table>

        <mat-paginator #paginatorQuote [length]="totalItemsQuote"
                       (page)="getQuotationsPaginator($event)"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </mat-tab>

  </mat-tab-group>

</div>
