<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">DoorMex</mat-toolbar>
    <form [formGroup]="formGroup"
          (ngSubmit)="loginProcess()"
          fxLayoutAlign="stretch"
          fxLayout="column"
          class="login-form">
      <mat-form-field >
        <mat-label>Usuario: </mat-label>
        <input matInput
               placeholder="Usuario"
               formControlName="email">
      </mat-form-field>

      <mat-form-field >
        <mat-label>Contraseña: </mat-label>
        <input matInput
               placeholder="Contraseña"
               type="password"
               formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>

  </mat-card>
</div>
