<div fxFlex="100" fxLayoutGap="10px" fxLayout="column">

  <div fxFlex="50">
    <h4 mat-dialog-title class="title-subsection">{{title}} : {{data.name}}</h4>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content class="mat-typography" autocomplete="off" [formGroup]="resetForm">

      <mat-card>
        <mat-card-content>

          <div fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">

            <mat-form-field>
              <mat-label>Contraseña Nueva</mat-label>
              <input autocomplete="new-password" matInput type="text" formControlName="new_password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="fieldInvalid('new_password')">
                Favor de ingresar la Contraseña Nueva
              </mat-error>
            </mat-form-field>

          </div>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="center center">
      <div fxLayoutAlign="center center">
        <button (click)="close()" mat-raised-button color="warn" mat-dialog-close="true">Cancelar</button>
      </div>
      <div class="spacer"></div>
      <div fxLayoutAlign="center center">
        <button (click)="changePassword()" mat-raised-button color="primary" cdkFocusInitial>Resetear Contraseña</button>
      </div>
    </mat-dialog-actions>
  </div>

</div>
