<h4 mat-dialog-title class="title-subsection">{{title}}</h4>
<ngx-spinner></ngx-spinner>
<mat-divider></mat-divider>
<br>

<mat-dialog-content class="mat-typography" [formGroup]="productForm">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

        <div class="container" fxFlex="100" fxLayout="column" fxLayout.xs="column">

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Producto</mat-label>
              <input
                matInput
                type="text"
                formControlName="name"
              >
              <mat-error *ngIf="fieldInvalid('name')">
                Favor de Ingresar el Acceso
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Descripción</mat-label>
              <input
                matInput
                type="text"
                formControlName="description"
              >
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Marca</mat-label>
              <input
                matInput
                type="text"
                formControlName="brand"
              >
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Costo</mat-label>
              <input
                matInput
                type="text"
                formControlName="cost"
              >
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Clave</mat-label>
              <input
                matInput
                type="text"
                formControlName="key"
              >
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Unidad</mat-label>
              <input
                matInput
                type="text"
                formControlName="unit"
              >
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">

              <mat-toolbar>
                <!-- Readonly Input to show File names -->
                <input matInput readonly name="memberContactNo" placeholder="Foto">
                <!-- Browse Button -->
                <button mat-flat-button color="primary">
                  <mat-icon>image</mat-icon>
                </button>

              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input type="file" #UploadFileInput id="fileUploadPhoto" name="myFile" (change)="setFileLogo($event)" accept="image/*">

            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px"
               *ngIf="imageFile !== null; else divLogo">

            <mat-card fxFlex="100" fxLayoutAlign="center center">
              <img mat-card-image [src]="imageFile" alt="">
            </mat-card>

          </div>

          <ng-template #divLogo>
          </ng-template>

        </div>

      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button (click)="close()" mat-stroked-button color="primary" mat-dialog-close="true">Cancelar</button>
  <button *ngIf="!product.idProduct" (click)="addProduct()" mat-flat-button color="primary" cdkFocusInitial [disabled]="productForm.invalid">Guardar Producto</button>
  <button *ngIf="product.idProduct && product.edit" (click)="updateProduct()" mat-flat-button color="primary" cdkFocusInitial>Editar</button>
</mat-dialog-actions>


