<div fxFlex="100" fxLayoutGap="10px" fxLayout="column">

  <div fxFlex="50">
    <h4 mat-dialog-title class="title-subsection">{{title}} : {{data.email}}</h4>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content class="mat-typography" [formGroup]="profileForm">

      <mat-card>
        <mat-card-content>

          <div fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">

            <mat-form-field >
              <mat-label>Contraseña Actual</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="current_password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="fieldInvalid('current_password')">
                Favor de ingresar la Contraseña Actual
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Contraseña Nueva</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="new_password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="fieldInvalid('new_password')">
                Favor de ingresar la Contraseña Nueva
              </mat-error>
            </mat-form-field>

          </div>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="center center">
      <div fxLayoutAlign="center center">
        <button (click)="changePassword()" mat-raised-button color="primary" cdkFocusInitial>Cambiar Contraseña</button>
      </div>
      <div class="spacer"></div>
    </mat-dialog-actions>
  </div>

  <div fxFlex="50">
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content class="mat-typography" [formGroup]="nameProfileForm">

      <mat-card>
        <mat-card-content>

          <div fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">

            <mat-form-field >
              <mat-label>Nombre(s)</mat-label>
              <input matInput
                     type="text"
                     formControlName="name">
              <mat-error *ngIf="fieldInvalid('name')">
                Favor de ingresar su Nombre
              </mat-error>
            </mat-form-field>

          </div>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="center center">
      <div fxLayoutAlign="center center">
        <button (click)="changeName()" mat-raised-button color="primary" cdkFocusInitial>Cambiar Nombre</button>
      </div>
      <div class="spacer"></div>
      <div fxLayoutAlign="center center">
        <button (click)="close()" mat-raised-button color="warn" mat-dialog-close="true">Cancelar</button>
      </div>
    </mat-dialog-actions>
  </div>

</div>



