<h4 mat-dialog-title class="title-subsection">{{title}}</h4>
<ngx-spinner></ngx-spinner>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography" [formGroup]="quoteForm">

  <mat-card>
    <mat-card-content>

      <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

        <div class="container" fxFlex="100" fxLayout="column" fxLayout.xs="column">

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <ng-select fxFlex="100"
                       bindLabel="name"
                       placeholder="Clientes"
                       formControlName="customer_id"
                       [multiple]="false"
                       appendTo="body"
                       [searchable]="true"
                       [clearable]="true">
              <ng-option *ngFor="let customer of customers" [value]="customer.id">
                {{customer.name}}
              </ng-option>
            </ng-select>

            <mat-error *ngIf="fieldInvalid('customer_id')">
              Favor de Seleccionar un Cliente
            </mat-error>

            <ng-select fxFlex="100"
                       bindLabel="name"
                       placeholder="Vendedores"
                       formControlName="seller_id"
                       [multiple]="false"
                       appendTo="body"
                       [searchable]="true"
                       [clearable]="true">
              <ng-option *ngFor="let employee of employees" [value]="employee.id">
                {{employee.name}}
              </ng-option>
            </ng-select>

            <mat-error *ngIf="fieldInvalid('seller_id')">
              Favor de Seleccionar un Empleado
            </mat-error>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <ng-select fxFlex="100"
                       bindLabel="name"
                       placeholder="Grupos"
                       formControlName="job_center_id"
                       [multiple]="false"
                       appendTo="body"
                       [searchable]="true"
                       [clearable]="true">
              <ng-option *ngFor="let jobCenter of jobCenters" [value]="jobCenter.id">
                {{jobCenter.name}}
              </ng-option>
            </ng-select>

            <mat-error *ngIf="fieldInvalid('job_center_id')">
              Favor de Seleccionar un Grupo
            </mat-error>

            <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
              <mat-label>Fecha Entrega</mat-label>
              <input matInput [matDatepicker]="pickerAdmission" formControlName="delivery_time">
              <!--<mat-hint>MM/DD/YYYY</mat-hint>-->
              <mat-datepicker-toggle matSuffix [for]="pickerAdmission"></mat-datepicker-toggle>
              <mat-datepicker #pickerAdmission></mat-datepicker>

            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <ng-select fxFlex="100"
                       bindLabel="name"
                       placeholder="Tipos de Trabajo"
                       formControlName="work_type_id"
                       [multiple]="false"
                       appendTo="body"
                       [searchable]="true"
                       [clearable]="true">
              <ng-option *ngFor="let workType of workTypes" [value]="workType.id">
                {{workType.name}}
              </ng-option>
            </ng-select>

            <mat-error *ngIf="fieldInvalid('work_typer_id')">
              Favor de Seleccionar un Tipo de Trabajo
            </mat-error>

            <mat-form-field fxFlex="100">
              <mat-label>Lugar</mat-label>
              <input
                matInput
                type="text"
                placeholder="Lugar"
                formControlName="place"
              >
              <mat-error *ngIf="fieldInvalid('place')">
                Favor de Ingresar el lugar
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Condiciones de Pago</mat-label>
              <textarea matInput
                        formControlName="payment_conditions"
                        placeholder="Condiciones..."></textarea>
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Solicitante</mat-label>
              <input
                matInput
                type="text"
                placeholder="Solicitante"
                formControlName="applicant"
              >
              <mat-error *ngIf="fieldInvalid('applicant')">
                Favor de Ingresar el solicitante
              </mat-error>
            </mat-form-field>


          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Observaciones</mat-label>
              <textarea matInput
                        formControlName="observations"
                        placeholder="Observaciones..."></textarea>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">

              <mat-toolbar>
                <input matInput readonly name="memberContactNo" placeholder="Foto 1">
                <button mat-flat-button color="primary">
                  <mat-icon>image</mat-icon>
                </button>

              </mat-toolbar>
              <input type="file" #UploadFileInput id="fileUploadPhoto" name="myFile" (change)="setFileOne($event)" accept="image/*">

            </mat-form-field>

            <mat-form-field fxFlex="100">

              <mat-toolbar>
                <input matInput readonly name="memberContactNo" placeholder="Foto 2">
                <button mat-flat-button color="primary">
                  <mat-icon>image</mat-icon>
                </button>

              </mat-toolbar>
              <input type="file" #UploadFileInput id="fileUploadPhotoTwo" name="myFile" (change)="setFileTwo($event)" accept="image/*">

            </mat-form-field>

            <mat-form-field fxFlex="100">

              <mat-toolbar>
                <input matInput readonly name="memberContactNo" placeholder="Foto 3">
                <button mat-flat-button color="primary">
                  <mat-icon>image</mat-icon>
                </button>

              </mat-toolbar>
              <input type="file" #UploadFileInput id="fileUploadPhotoThree" name="myFile" (change)="setFileThree($event)" accept="image/*">

            </mat-form-field>

          </div>

        </div>

      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button (click)="close()" mat-stroked-button color="primary" mat-dialog-close="true">Cancelar</button>
  <button (click)="save()" mat-flat-button color="primary" cdkFocusInitial [disabled]="quoteForm.invalid">Guardar</button>
 <!-- <ng-template #buttonEdit>
    <button (click)="updateTool()" mat-flat-button color="primary" cdkFocusInitial>Editar</button>
  </ng-template>-->
</mat-dialog-actions>
