<ngx-spinner></ngx-spinner>

<div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">

  <div class="container" fxFlex="100" fxLayout="column" fxLayout.xs="column">

    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayout.sm="column"
         fxLayoutGap="20px">

      <div fxFlex="100" fxLayoutAlign="center center">
      <button mat-button color="primary" (click)="openDialogTask(true,null,false,null, false)">
        Nueva Tarea
        <mat-icon mat-list-icon >task</mat-icon>
      </button>
      </div>

      <mat-form-field fxFlex="100">
        <mat-label>Clientes</mat-label>
        <mat-select
          (selectionChange)="filterSelectCustomer($event.value)">
          <mat-option *ngFor="let customer of customers" [value]="customer.id">
            {{ customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Grupos</mat-label>
        <mat-select
          (selectionChange)="filterSelectJobCenter($event.value)">
          <mat-option *ngFor="let jobCenter of jobCenters" [value]="jobCenter.id">
            {{ jobCenter.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Empleados</mat-label>
        <mat-select
          (selectionChange)="filterSelectEmployee($event.value)">
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

</div>

<div>
  <full-calendar #calendar [options]="calendarOptions" ></full-calendar>
</div>
