<h4 mat-dialog-title class="title-subsection">{{title}}</h4>
<ngx-spinner></ngx-spinner>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography" [formGroup]="accountForm">

  <mat-card>
    <mat-card-content>

      <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

        <div class="container" fxFlex="100" fxLayout="column" fxLayout.xs="column">

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                type="text"
                formControlName="name">
              <mat-error *ngIf="fieldInvalid('name')">
                Favor de Ingresar el Nombre
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Usuario</mat-label>
              <input
                matInput
                type="text"
                formControlName="username"
              >
              <mat-error *ngIf="fieldInvalid('username')">
                Favor de Ingresar el Usuario
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="60">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="text"
                formControlName="password">
              <mat-error *ngIf="fieldInvalid('password')">
                Favor de Ingresar la contraseña
              </mat-error>
            </mat-form-field>


              <section>
                <mat-checkbox color="accent" class="example-margin" formControlName="is_active">Activo</mat-checkbox>
              </section>

          </div>

        </div>

      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button (click)="close()" mat-stroked-button color="primary" mat-dialog-close="true">Cancelar</button>
  <button *ngIf="!portalAccount.idPortalAccount" (click)="addPortalAccount()" mat-flat-button color="primary" cdkFocusInitial [disabled]="accountForm.invalid">Guardar {{menuTitle}}</button>
  <button *ngIf="portalAccount.idPortalAccount && portalAccount.edit" (click)="updatePortalAccount()" mat-flat-button color="primary" cdkFocusInitial [disabled]="accountForm.invalid">Editar</button>
</mat-dialog-actions>
