<div fxLayout="column" fxLayoutAlign="center center">

  <div *ngIf="data.status === 400 || data.status === 401 else error">
    <h1>No ser realizó la acción Por:</h1>
    <hr>
    <p>
      {{ data.error.message }}
    </p>
  </div>

  <ng-template #error>

    <h1>Algo salió Mal</h1>
    <hr>
    <p>
      Los datos que ingresaste no son correctos
      <br>
      Ó verifica tu conexión a internet
    </p>

  </ng-template>

  <div fxFlex="100">
    <button mat-button (click)="cancel()" color="warn">De acuerdo</button>
  </div>

</div>

