/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*TODO: Style for Module Refactor.
/* Clase para el Espaciado */
.spacer {
  flex: 1 1 auto;
}

.container {
  margin: 15px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*Title modal*/
.title-subsection{
  color: rgb(50,68,150);
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/** Ng Select Search design*/
.ng-select {
  padding-bottom: 0;
  bottom: 12px;
}

