/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*TODO: Style for Module Refactor.
/* Clase para el Espaciado */
.spacer {
  flex: 1 1 auto;
}

.container {
  margin: 15px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: 25%;
}*/

