<h4 mat-dialog-title class="title-subsection">{{title}}</h4>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography" [formGroup]="groupForm">
  <div class="row">
    <div class="col">

      <mat-form-field>
        <mat-label> Nombre del Grupo </mat-label>
        <input formControlName="name" matInput type="text" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Razón Social </mat-label>
        <input formControlName="reason_social" matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label> RFC </mat-label>
        <input formControlName="rfc" matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label> Teléfono </mat-label>
        <input formControlName="phone" matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label> Correo Electrónico </mat-label>
        <input formControlName="email" matInput type="email">
      </mat-form-field>

    </div>
    <div class="col">

      <mat-form-field>
        <mat-label> Dirección </mat-label>
        <input formControlName="address" matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label> Ciudad </mat-label>
        <input formControlName="city" matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label> C.P. </mat-label>
        <input formControlName="postal_code" matInput type="text">
      </mat-form-field>

    </div>
  </div>
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
  <button (click)="close()" mat-stroked-button color="primary" mat-dialog-close>Cancelar</button>
  <button *ngIf="!group.idGroup" (click)="addGroup()" mat-flat-button color="primary" cdkFocusInitial>Guardar Grupo</button>
  <button *ngIf="group.idGroup && group.edit" (click)="updateGroup()" mat-flat-button color="primary" cdkFocusInitial>Editar</button>
</mat-dialog-actions>
