<div class="container">
  <mat-card fxLayoutAlign="center center">
      <mat-card-title>Mis Clientes</mat-card-title>
  </mat-card>

  <mat-card fxLayoutAlign="center center">

      <div class="container" fxFlex="100" fxLayout="column" [formGroup]="filterForm">

        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayout.sm="column"
             fxLayout.md="column"
             fxLayout.lg="row"
             fxLayout.xl="row"
             fxLayoutGap="20px">

          <div fxFlex="100" fxLayoutAlign="center center">
            <button (click)="openDialogCustomer(true, null, false)" mat-button color="primary">
              <mat-icon>person_add</mat-icon> Nuevo Cliente
            </button>
          </div>

          <mat-form-field fxFlex="100">

            <mat-label>Ingresar Rango Fecha</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="initial_date" placeholder="Fecha Inicial">
              <input matEndDate formControlName="final_date" placeholder="Fecha Final">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

          </mat-form-field>

          <ng-select fxFlex="100"
                     bindLabel="name"
                     placeholder="Clientes"
                     formControlName="customer"
                     [multiple]="false"
                     appendTo="body"
                     [searchable]="true"
                     [clearable]="true"
                     (change)="filterSelect()">
            <ng-option value="">TODOS</ng-option>
            <ng-option *ngFor="let customer of customers" [value]="customer.id">
              {{customer.name}}
            </ng-option>
          </ng-select>

          <mat-form-field fxFlex="100">
            <mat-label>Convenio</mat-label>
            <mat-select formControlName="contract" (selectionChange)="filterSelect()">
              <mat-option value="">TODOS</mat-option>
              <mat-option *ngFor="let contract of contracts" [value]="contract.id">
                {{ contract.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <mat-label>Tipo Cliente</mat-label>
            <mat-select formControlName="customer_type" (selectionChange)="filterSelect()">
              <mat-option value="">TODOS</mat-option>
               <mat-option *ngFor="let customerType of customerTypes" [value]="customerType.id">
                 {{ customerType.name }}
               </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="100" fxLayoutAlign="center center">
            <button mat-button color="primary" (click)="downloadReport('excel')" [disabled]="filterForm.invalid">
              Excel
              <mat-icon mat-list-icon>view_list</mat-icon>
            </button>
          </div>

        </div>

      </div>

  </mat-card>

 <!-- <div fxLayout="row">
    <div fxFlex="80">
      <mat-form-field appearance="standard">
        <mat-label>Filtrar Datos Clientes</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar en Tabla Clientes" #input>
      </mat-form-field>
    </div>

  </div>-->


  <div class="mat-elevation-z8 tableResponsive">
    <ngx-spinner></ngx-spinner>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Reason Social Column -->
      <ng-container matColumnDef="reason_social">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Razón Social </th>
        <td mat-cell *matCellDef="let row"> {{row.reason_social}} </td>
      </ng-container>

      <!-- Teléfono Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Teléfono </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <!-- Dirección Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Dirección </th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
      </ng-container>

      <!-- Convenio Column -->
      <ng-container matColumnDef="contract_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Convenio </th>
        <td mat-cell *matCellDef="let row"> {{row.contract_name}} </td>
      </ng-container>

      <!-- Tipo Cliente Column -->
      <ng-container matColumnDef="customer_type_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Tipo Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.customer_type_name}} </td>
      </ng-container>

      <!-- Dirección Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Creación </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date : 'MMM d, y' }} </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones </th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogCustomer(false, row.id, true)">
              <mat-icon color="info">visibility</mat-icon>Ver
            </button>
            <button mat-menu-item (click)="openDialogCustomer(true, row.id, false)">
              <mat-icon color="primary">edit</mat-icon>Editar
            </button>
            <button mat-menu-item (click)="deleteCustomer(row)">
              <mat-icon color="warn">delete</mat-icon>Eliminar
            </button>
            <button mat-menu-item
                    [routerLink]="['/dashboard/doors/customer', row.id ]">
              <mat-icon class="greenColor">login</mat-icon>Accesos
            </button>
            <button mat-menu-item
                    [routerLink]="['/dashboard/contacts/customer', row.id ]">
              <mat-icon class="yellowColor">record_voice_over</mat-icon>Contactos
            </button>
            <button mat-menu-item
                    [routerLink]="['/dashboard/comments/customer', row.id ]">
              <mat-icon class="blueColor">comment</mat-icon>Comentarios
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que mostrar ""</td>
      </tr>
    </table>

    <mat-paginator #paginator
                   [length]="totalItems"
                   (page)="getCustomersPaginator($event)"
                   [pageSize]="pageSize"
                   [showFirstLastButtons] = "true">
    </mat-paginator>
  </div>

</div>
