<h4 mat-dialog-title class="title-subsection">{{title}}</h4>
<ngx-spinner></ngx-spinner>
<mat-divider></mat-divider>
<br>

<mat-dialog-content class="mat-typography" [formGroup]="taskForm">
  <mat-card>

    <mat-card-content>

      <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

        <div class="container" fxFlex="100" fxLayout="column" fxLayout.xs="column">

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
              <mat-label>Tarea</mat-label>
              <input
                matInput
                type="text"
                formControlName="title">
              <mat-error *ngIf="fieldInvalid('title')">
                Favor de Ingresar la Tarea
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Empleados</mat-label>
              <mat-select
                formControlName="employee_id">
                <mat-option *ngFor="let employee of employees" [value]="employee.id">
                  {{ employee.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('employee_id')">
                Favor de Seleccionar un Empleado
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Grupos</mat-label>
              <mat-select formControlName="job_center_id" (selectionChange)="selectJobCenter($event.value)">
                <mat-option *ngFor="let jobCenter of jobCenters" [value]="jobCenter.id">
                  {{ jobCenter.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('job_center_id')">
                Favor de Seleccionar un Grupo
              </mat-error>
            </mat-form-field>

            <ng-select fxFlex="100"
                       bindLabel="name"
                       placeholder="Clientes"
                       formControlName="customer_id"
                       [multiple]="false"
                       appendTo="body"
                       [searchable]="true"
                       [clearable]="true"
                       (change)="selectCustomer($event)">
              <ng-option *ngFor="let customer of customers" [value]="customer.id">
                {{customer.name}}
              </ng-option>
            </ng-select>
            <mat-error *ngIf="fieldInvalid('customer_id')">
              *
            </mat-error>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="20px">

            <ng-select fxFlex="100"
                       bindLabel="name"
                       placeholder="Accesos Clientes"
                       formControlName="doors"
                       [multiple]="true"
                       appendTo="body"
                       [searchable]="true"
                       [clearable]="true"
                       bindValue="id"
                       [compareWith]="setValueSelectObjectMultiple">
              <ng-option *ngFor="let doorType of doorTypes" [value]="doorType.id">
                {{doorType.name}}
              </ng-option>
            </ng-select>
            <mat-error *ngIf="fieldInvalid('doors')">
              *
            </mat-error>

            <mat-form-field fxFlex="100">
              <mat-label>Tipos de Trabajos</mat-label>
              <mat-select formControlName="work_type_id">
                <mat-option *ngFor="let workType of workTypes" [value]="workType.id">
                  {{ workType.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('work_type_id')">
                Favor de Seleccionar un Tipo Trabajo
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Comentarios</mat-label>
              <textarea
                matInput
                type="text"
                formControlName="comments"
              ></textarea>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayout.sm="column"
               fxLayoutGap="10px">

              <div fxFlex="100" *ngIf="!task.multiple; else multipleDate">
                <mat-form-field>
                  <mat-label>Ingresar Rango Fecha</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="initial_date" placeholder="Fecha Inicial">
                    <input matEndDate formControlName="final_date" placeholder="Fecha Final">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="fieldInvalid('initial_date')">
                    Favor de ingresar el rango
                  </mat-error>
                </mat-form-field>
              </div>

              <ng-template #multipleDate>
                <mat-form-field>
                  <mat-label>Multiples Fechas</mat-label>
                  <ngx-multiple-dates [matDatepicker]="pickerMultiple" placeholder="Excluded Dates" formControlName="dates"></ngx-multiple-dates>
                  <mat-datepicker-toggle matPrefix [for]="pickerMultiple"></mat-datepicker-toggle>
                  <mat-datepicker #pickerMultiple></mat-datepicker>
                  <mat-error *ngIf="fieldInvalid('dates')">
                    Favor de ingresar el rango
                  </mat-error>
                </mat-form-field>
              </ng-template>

            <mat-form-field fxFlex="25">
              <mat-label>Hora Inicial</mat-label>
              <input
                matInput
                type="time"
                formControlName="initial_hour">
              <mat-error *ngIf="fieldInvalid('initial_hour')">
                Favor de Ingresar la Hora Inicial
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <mat-label>Hora Final</mat-label>
              <input
                matInput
                type="time"
                formControlName="final_hour">
              <mat-error *ngIf="fieldInvalid('final_hour')">
                Favor de Ingresar la Hora Final
              </mat-error>
            </mat-form-field>

          </div>

        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <div *ngIf="task.info">
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field appearance="standard">
          <mat-label>Filtrar Puertas</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar en Tabla Puertas" #input>
        </mat-form-field>
      </div>
    </div>

    <!--Tabla Accesos-->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort >

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Folio Column -->
        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Folio</th>
          <td mat-cell *matCellDef="let row"> {{row.folio}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Nombre</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Folio Column -->
        <ng-container matColumnDef="door_type_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Tipo Puerta</th>
          <td mat-cell *matCellDef="let row"> {{row.door_type_name}} </td>
        </ng-container>

        <!-- Teléfono Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
          <td mat-cell *matCellDef="let row">
            <button color="warn" mat-button
                    (click)="viewPdf(row.report_pdf)"
                    #tooltip="matTooltip"
                    matTooltip="Descargar Reporte">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button color="primary" mat-button
                    (click)="sendPdf(row, task.idTask)"
                    #tooltip="matTooltip"
                    matTooltip="Enviar Reporte">
              <mat-icon>mail_outline</mat-icon>
            </button>
            <button color="accent" mat-button
                    (click)="imgDetail(row)"
                    #tooltip="matTooltip"
                    matTooltip="Ver Imágenes">
              <mat-icon>collections_bookmark</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que mostrar "{{input.value}}"</td>
        </tr>
      </table>
<!--
      <mat-paginator #paginator
                     [length]="totalItems"
                     (page)="getDoorsPaginator($event)"
                     [pageSize]="pageSize"
                     [showFirstLastButtons]="true">
      </mat-paginator>-->
    </div>
  </div>

  <br>

  <div *ngIf="taskId">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px" [formGroup]="productForm">


      <div fxFlex="100">
        <mat-form-field >
          <mat-label>Filtrar Refacciones</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar en Tabla Refacciones" #input>
        </mat-form-field>
      </div>

      <ng-select fxFlex="100"
                 bindLabel="name"
                 placeholder="Refacciones"
                 formControlName="product_id"
                 [multiple]="false"
                 appendTo="body"
                 [searchable]="true"
                 [clearable]="true">
        <ng-option value="">TODOS</ng-option>
        <ng-option *ngFor="let product of products" [value]="product.id">
          {{product.name}}
        </ng-option>
      </ng-select>

      <mat-form-field fxFlex="100">
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          type="number"
          formControlName="quantity">
        <mat-error *ngIf="fieldInvalid('quantity')">
          Favor de Ingresar la cantidad
        </mat-error>
      </mat-form-field>

      <div fxFlex="100" fxLayoutAlign="center center">
        <button (click)="saveProductByTask()" mat-stroked-button color="primary" [disabled]="productForm.invalid">Guardar Refacción</button>
      </div>

    </div>

    <!--Tabla Accesos-->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceProducts" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Refacción</th>
          <td mat-cell *matCellDef="let row"> {{row.product_name}} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cantidad Asignada</th>
          <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="amount_spent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Cantidad Utilizada</th>
          <td mat-cell *matCellDef="let row"> {{row.amount_spent}} </td>
        </ng-container>

        <!-- Refund Column -->
        <ng-container matColumnDef="refund">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Devolución</th>
          <td mat-cell *matCellDef="let row"> {{row.refund}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Estatus</th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <!-- Teléfono Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Opciones</th>
          <td mat-cell *matCellDef="let row">

            <button color="warn" mat-button
                    (click)="deleteProductByTask(row)"
                    #tooltip="matTooltip"
                    matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>

            <button color="warn" mat-button
                    (click)="receivePartsByConcept(row)"
                    #tooltip="matTooltip"
                    matTooltip="Recibir Refacciones">
              <mat-icon>playlist_add</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que mostrar "{{input.value}}"</td>
        </tr>
      </table>
      <!--
            <mat-paginator #paginator
                           [length]="totalItems"
                           (page)="getDoorsPaginator($event)"
                           [pageSize]="pageSize"
                           [showFirstLastButtons]="true">
            </mat-paginator>-->
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="center">

  <div fxFlex="40">
    <button *ngIf="task.idTask" (click)="deleteTask()" mat-stroked-button color="warn" mat-dialog-close="true">Eliminar</button>
    <button *ngIf="task.idTask" (click)="closeTask()" mat-stroked-button color="warn" mat-dialog-close="true">Cerrar Tarea</button>
  </div>

  <div fxFlex="60" fxLayoutAlign="end">
    <button (click)="close()" mat-stroked-button color="primary" mat-dialog-close="true">Cancelar</button>
    <button *ngIf="task.editCustom" (click)="updateTaskCustom()" mat-flat-button color="primary">Editar Finalizado</button>
    <button *ngIf="!taskId" (click)="addTask()" mat-flat-button color="primary" cdkFocusInitial [disabled]="taskForm.invalid">Guardar Tarea</button>
    <button *ngIf="taskId && task.edit" (click)="updateTask()" mat-flat-button color="primary" cdkFocusInitial>Editar</button>
  </div>

</mat-dialog-actions>


