<h4 mat-dialog-title class="title-subsection">{{title}}</h4>
<mat-divider></mat-divider>
<br>

<mat-dialog-content class="mat-typography" [formGroup]="taskForm">
  <mat-card>

    <mat-card-content>

      <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

        <div class="container" fxFlex="100" fxLayout="column" fxLayout.xs="column">

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
              <mat-label>Tarea</mat-label>
              <input
                matInput
                type="text"
                formControlName="title">
              <mat-error *ngIf="fieldInvalid('title')">
                Favor de Ingresar la Tarea
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Empleados</mat-label>
              <mat-select
                formControlName="employee">
                <mat-option *ngFor="let employee of employees" [value]="employee.id">
                  {{ employee.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('employee')">
                Favor de Seleccionar un Empleado
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Grupos</mat-label>
              <mat-select
                formControlName="job_center">
                <mat-option *ngFor="let jobCenter of jobCenters" [value]="jobCenter.id">
                  {{ jobCenter.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('job_center')">
                Favor de Seleccionar un Grupo
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
              <mat-label>Clientes</mat-label>
              <mat-select
                (selectionChange)="selectCustomer($event.value)"
                formControlName="customer">
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                  {{ customer.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('customer')">
                Favor de Seleccionar un Cliente
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Accesos Cliente</mat-label>
              <mat-select multiple>
                <mat-option *ngFor="let doorType of doorTypes" [value]="doorType.id">
                  {{ doorType.name }}
                </mat-option>
              </mat-select>
             <!-- <mat-error *ngIf="fieldInvalid('door_type')">
                Favor de Seleccionar una o mas Accesos
              </mat-error>-->
            </mat-form-field>
            <!--TODO: Add Control Form formControlName="door_type"-->

            <mat-form-field fxFlex="100">
              <mat-label>Tipos de Trabajos</mat-label>
              <mat-select formControlName="work_type">
                <mat-option *ngFor="let workType of workTypes" [value]="workType.id">
                  {{ workType.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fieldInvalid('work_type')">
                Favor de Seleccionar un Tipo Trabajo
              </mat-error>
            </mat-form-field>


          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
              <mat-label>Comentarios</mat-label>
              <input
                matInput
                type="text"
                formControlName="comments"
              >
            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.xs="column"
               fxLayoutGap="20px">

            <mat-form-field fxFlex="50">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input  [rangePicker]="picker">
                  <input matStartDate formControlName="initial_date" placeholder="Fecha Inicial">
                  <input matEndDate formControlName="final_date" placeholder="Fecha Final">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error>fecha No ingresada correctamente.</mat-error>
              </mat-form-field>

            <mat-form-field fxFlex="25">
              <mat-label>Hora Inicial</mat-label>
              <input
                matInput
                type="time"
                formControlName="initial_hour">
              <mat-error *ngIf="fieldInvalid('initial_hour')">
                Favor de Ingresar la Hora Inicial
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <mat-label>Hora Final</mat-label>
              <input
                matInput
                type="time"
                formControlName="final_hour">
              <mat-error *ngIf="fieldInvalid('final_hour')">
                Favor de Ingresar la Hora Final
              </mat-error>
            </mat-form-field>

          </div>

        </div>

      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button (click)="close()" mat-stroked-button color="primary" mat-dialog-close="true">Cancelar</button>
  <button *ngIf="!task.idTask" (click)="addTask()" mat-flat-button color="primary" cdkFocusInitial >Guardar Tarea</button>
  <button *ngIf="task.idTask && task.edit" (click)="updateTask()" mat-flat-button color="primary" cdkFocusInitial>Editar</button>
</mat-dialog-actions>


